@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kehinde Akinseli<br />
    R Adetokunbo Cresent<br />
    <abbr title="Phone">P:</abbr>
    07038255219
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@kennyakinseli.com">info@kennyakinseli.com</a>
</address>